server:
    verbosity: 1;
    username: unbound   # Runas user
    interface: 0.0.0.0
    port: 5353
    do-ip4: yes
    do-udp: yes
    do-tcp: yes
    do-ip6: no
    
    # Trust glue only if it is within the server's authority
    harden-glue: yes

    # Require DNSSEC data for trust-anchored zones, if such data is absent, the zone becomes BOGUS
    harden-dnssec-stripped: yes

    # Don't use Capitalization randomization as it known to cause DNSSEC issues sometimes
    # see https://discourse.pi-hole.net/t/unbound-stubby-or-dnscrypt-proxy/9378 for further details
    use-caps-for-id: no

    # Prefetch almost expired DNS cache entries
    prefetch: yes

    # which clients can make recursive queries
    # to this server
    access-control: 127.0.0.1/8 allow # loopback
    {% for item in recursive_dns_local_networks %}
    access-control: {{ item.network }} {{ item.access }}
    {% endfor %}

    # Reduce EDNS reassembly buffer size
    edns-buffer-size: 1232

    # Ensure kernel buffer is large enough to not lose messages in traffic spikes
    so-rcvbuf: 1m

    # hide server info from clients
    hide-identity: yes
    hide-version: yes

remote-control:
    # Enable remote control with unbound-control
    control-enable: no